body {
    margin: 10px;
    background-color: rgb(240, 240, 240);
}
.container{
    margin-top: 10px;
}

.mb-3 {
    margin-top: 10px;
}

.buttons {
    margin-top: 20px;
}

 .col-md-6 { 
    text-align: center;
    padding: 40px;
}

img {
    height: 400px;
}